.App {
  padding: 20px;
}

.header {
  background-color: yellow;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.navigation {
  width: 20%;
  background-color: lavender;
  margin-top: 20px;
  margin-right: 20px;
}

.profile {
  width: 80%;
  background-color: wheat;
  margin-top: 20px;
}
